.form {
  &-container {
    background-color: lightgray;
    height: 100vh;
    min-height: fit-content;
    font-size: 2rem;
    position: relative;
    // width: 100vw;
    min-width: fit-content;
  }
}
.stepper {
  background-color: rgba(255, 255, 255, 0.591);
  min-width: fit-content;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 5rem;
  border-radius: 2rem;
  min-height: fit-content;
  @media only screen and (max-width: 600px) {
    & {
      padding: 0;
    }
  }
}
.mat-stepper-horizontal {
  margin-top: 8px;
}
.personalform {
  display: flex;
  flex-direction: column;
}

.radio-group {
  margin: 1rem;
  & > * {
    padding: 0.5rem 1rem;
  }
}
